{% extends "MimimiSiteBundle:Splash:splash_base.html.twig" %}

{% block content %}
<a href="#" class="brand"></a>
<form method="post" action="{{ url("_splash_register") }}">
	<input type="text" placeholder="Your name" class="name" name="name" />
	<input type="text" placeholder="Email address" class="email" name="email" />
	<input type="password" placeholder="Secret password" class="password" name="password" />
	<input type="submit" value="Request invite!">
</form>
<span class="link">Already a member? <a href="{{ url("_splash_login") }}">Sign in!</a></span>
<ul class="links">
	<li><a href="#">About us</a></li>
	<li><a href="#">Our blog</a></li>
</ul>
{% endblock %}