{% extends "MimimiSiteBundle:Splash:splash_base.html.twig" %}

{% block content %}
<a href="#" class="brand"></a>
<div class="text">
<strong>This website is under construction.</strong> <br /> We will send you a message, if we will ready to show you something interesting.
</div>
<ul class="links">
	<li><a href="#">About us</a></li>
	<li><a href="#">Our blog</a></li>
</ul>
{% endblock %}