{% extends(base) %}

{% block(scripts) %}
<script type="text/javascript" src="scripts/jquery.raty.min.js"></script>
<script type="text/javascript" src="scripts/raty.load.js"></script>
{% endblock %}

{% block(content) %}
<section class="add-edit" id="add-item">
    <div class="row">
        <div class="block block-max content">
            <form action="{% url(shop::handleadd) %}" method="POST" enctype="multipart/form-data">
            <h3 class="title">Добавление товара</h3>
            <div class="section">
                <div class="line">
                    <select name="category" class="categories">
                        <optgroup label="Accesories">
                            <option value="0">Accesories</option>
                            <option value="1">Sunglasses</option>
                            <option value="2">Pictures</option>
                            <option value="3">Lol</option>
                            <option value="4">Category</option>
                            <option value="5">Minecraft</option>
                            <option value="6">Lorem Ipsum</option>
                        </optgroup>
                        <optgroup label="Decorations">
                            <option value="8">For home</option>
                            <option value="9">For sex</option>
                            <option value="10">Art</option>
                            <option value="11">Clothes</option>
                            <option value="12">Misc</option>
                        </optgroup>
                    </select>
                    <div class="column caption">
                        Название
                    </div>
                    <div class="column input">
                        <input type="text" name="title" class="item-title">
                    </div>
                </div>
                <!--div class="line">
                    <div class="column caption">
                        Короткое описание
                    </div>
                    <div class="column input">
                        <input type="text" class="item-short">
                    </div>
                </div-->
                <div class="line">
                    <textarea name="description" placeholder="Описание товара"></textarea>
                </div>
                <div class="line money">
                    <div class="column caption">
                        Цена
                    </div>
                    <div class="column input">
                        <select class="currency">
                        <optgroup label="Europe">
                            <option value="2">Hryvnas</option>
                            <!--option value="0">Dollars</option>
                            <option value="1">Roubles</option>
                            <option value="3">Euros</option>
                            <option value="4">Belorussian roubles</option>
                        </optgroup>
                        <optgroup label="America">
                            <option value="0">Dollars</option>
                            <option value="1">Roubles</option>
                            <option value="2">Hryvnas</option>
                            <option value="3">Euros</option>
                            <option value="4">Belorussian roubles</option-->
                        </optgroup>
                    </select>
                        <input type="text" name="price" class="item-currency squared">
                    </div>
                </div>
                <!--h3 class="title">Дополнительная информация</h3>
                <div class="line">
                    <div class="column caption">
                        Предназначение
                    </div>
                    <div class="column input">
                        <input type="text" class="item-occasion">
                    </div>
                </div>
                <div class="line">
                    <div class="column caption">
                        Для кого
                    </div>
                    <div class="column input">
                        <input type="text" class="item-who">
                    </div>
                </div>
                <div class="line">
                    <div class="column caption">
                        Стиль
                    </div>
                    <div class="column input">
                        <input type="text" class="item-style">
                    </div>
                </div>
                <div class="line">
                    <div class="column caption">
                        Теги
                    </div>
                    <div class="column input">
                        <input type="text" class="item-tags">
                    </div>
                </div-->
            </div>
            <div class="picture column">
                <h3 class="title">Главное фото</h3>
                    <div class="upload">
                        <input type="file" name="upload" class="file" />
                    </div>
                <!--h4 class="title">Дополнительные фото</h4>
                <div class="upload additional">
                    <input type="file" name="upload" class="file" />
                </div>
                <div class="upload additional">
                    <input type="file" name="upload" class="file" />
                </div>
                <input type="button" value="Добавить еще" /-->
            </div>
            <div class="line submit">
                <!--input type="submit" value="Превью" class="preview" /-->
                <input type="submit" value="Добавить товар в магазин" class="add" />
            </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}