<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/style.css" /> 
        <title>{% page.title %}</title>
    </head>
    <body>
        {% if (page.error) %}
        <div class="notification-alert">
            <div class="row">
                  {% error.message %}
            </div>
        </div>
        {% endif %}
        <header>
            <div class="row">
                {% if (cuser.logined) %}
                <div class="header-profile">
                    <div class="userpic">
                        <a href="{% url(user::index) %}">
                        <img src="{% cuser.image %}" class="avatar" width="50px">
                        </a>
                    </div>
                    <a href="{% url(user::edit) %}" class="settings"></a>
                    <!--div class="inbox">
                        <div class="block block-1 notifications" style="display: none;">
                            <div class="triangle"></div>
                            <ul class="categories-column">
                                <li>
                                    <a href="#">
                                        <img src="images/temp/avatar50.jpg" class="avatar">
                                        <p><strong>mrVeles</strong> откомментировал ваш товар: «Swedish Clogs».</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/temp/image1-min.jpg" class="avatar">
                                        <p>Мастер <strong>AntuanKhanna</strong> оставил вам сообщение.</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/temp/image2-min.jpg" class="avatar">
                                        <p><strong>TerroristAkhmed</strong> взорвал башню всемирного торгового центра. Аминь.</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="icon"></a>
                        <div class="counter">3</div>
                    </div-->
                </div>
                {% endif %}
                <div class="brand">
                    <a href="{% url(main::index) %}"><img src="images/logo.png" alt="mimimi" /></a>
                </div>
                <!--div class="search">
                <form>
                    <input type="text" class="search" placeholder="Поиск по сайту">
                </form>
                </div-->
            </div>
            <ul class="menu">
                <div class="row">
                    {% foreach(page.categories::cat)%}
                    <li><a href="{% url(categories::index) %}&id={%cat.uid%}">{% cat.name %}</a></li>
                    {% endfor %}
                </div>
            </ul>
        </header>

        {% block(content) %} {% endblock %}

        <footer>
            <div class="row">
                <div class="copyrights">
                    <img src="images/footer-logo.gif" />
                    <div class="date">&copy; 2013</div>
                </div>
                <ul class="footer-menu">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Конфиденциальность</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">О нас</a></li>
                </ul>
                <div class="feedback">
                    feedback@mimimi.co
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript">   
          var al_page = 1;
          function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
          }
          
          $(window).load(function() {
              $('#loader').click(function() {
                  var additional = "cname=main";
                  if (location.search.indexOf("name")) {
                      additional = location.search.substr(1).replace("name", "cname").replace("action", "caction");
                  }
                  console.log("{% url(main::getItems) %}&page=" + al_page + "&" + additional);
                  $.ajax({
                      url: "{% url(main::getItems) %}&page=" + al_page + "&" + additional,
                  }).done(function(data) {
                      $('#loaded-content').append(data);
                  });
                  al_page++;
              });
          });
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-43674455-1', 'mimimi.co');
          ga('send', 'pageview');

          </script>
        {% block(scripts) %} {% endblock %}
    </body>
</html>