{% extends(base) %}
{% block(scripts) %}
<script type="text/javascript">
    $(".create-account").click(function () {
        $('div#login').hide();
        $('div#registration').show();
    });
    $(".back").click(function() {
        $('div#login').show();
        $('div#registration').hide();
    });
</script>
{% endblock %}

{% block(content) %}
<section id="categories">
    <div class="row">
    {% if (user.logined) %}
        <div class="block block-min profile">
            <a href="{% url(user::index) %}">
                <img src="{% user.image %}" class="avatar" />
            </a>
            <div class="status"><span class="label label-blue">{% user.status %}</span></div>
            <h3 class="title">{% user.name %}</h3>
            <ul class="categories-column">
                <li><a href="{%url(chat::index)%}">{%l(page_messages)%}</a></li>
                <li><a href="{%url(user::edit)%}">{%l(page_settings)%}</a></li>
                <li><a href="{%url(user::logout)%}">{%l(page_logout)%}</a></li>
            </ul>
            <div class="rating">
                <div id="half"></div>
            </div>
        </div>
        {% else %}
        <div class="block-min user-fields">
            <div id="login">
                <div class="block block-min login">
                    <h3 class="title">{%l(page_login)%}</h3>
                    <form method="post" action="{%url(user::login)%}">
                        <input type="text" class="email" name="email" placeholder="{%l(fields_email)%}" />
                        <input type="password" class="password" name="password" placeholder="{%l(fields_pass)%}" />
                        <input type="submit" value="{%l(button_login)%}" />
                    </form>
                </div> 
                <a href="{% user.links.facebook %}">
                    <input type="button" class="social social-facebook" value="{%l(button_fblogin)%}" />
                </a>
                <a href="{% user.links.vkontakte %}">
                    <input type="button" class="social social-vk" value="{%l(button_vklogin)%}" />
                </a>
                <input type="button" class="social create-account" value="{%l(button_register)%}" />
            </div>
            <div id="registration"  style="display: none;">
                <div class="block block-min registration">
                    <h3 class="title">{%l(page_register)%}</h3>
                    <form method="post" action="{%url(user::register)%}">
                        <input type="text" name="email" class="email" placeholder="{%l(fields_email)%}" />
                        <input type="password" name="password" class="password" placeholder="{%l(fields_pass)%}" />
                        <input type="password" name="repassword" class="password" placeholder="{%l(fields_repass)%}" />
                        <a href="#" class="back">{%l(button_back)%}</a>
                        <input type="submit" value="{%l(button_register)%}" />
                    </form>
                </div>
                <a href="{% user.links.facebook %}">
                    <input type="button" class="social social-facebook" value="{%l(button_fblogin)%}" />
                </a>
                <a href="{% user.links.vkontakte %}">
                    <input type="button" class="social social-vk" value="{%l(button_vklogin)%}" />
                </a>    
            </div>
        </div>
        {% endif %}
        <div class="block block-3 categories">
            <h3 class="title">{%l(title_subcategories)%}</h3>
            <ul class="cats">
            {% foreach(page.subcategories::subcat) %}
                <li><a href="{% url(categories::sub) %}&id={% subcat.uid %}">{% subcat.name %}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% include(item_container) %}
{% endblock %}