{% extends(base) %}
{% block(content) %}
<section id="chat">
    <div class="row">
        <div class="user-info">
            <div class="block block-min profile">
                <a href="{% url(user::index) %}">
                    <img src="{% user.image %}" class="avatar" />
                </a>
                <div class="status"><span class="label label-blue">{% user.status %}</span></div>
                <h3 class="title">{% user.name %}</h3>
                <ul class="categories-column">
                    <li><a href="{%url(chat::index)%}">Сообщения</a></li>
                    <li><a href="{%url(user::edit)%}">Настройки</a></li>
                    <li><a href="{%url(user::logout)%}">Выход</a></li>
                </ul>
                <div class="rating">
                    <div id="half"></div>
                </div>
            </div>
            <!--div class="block block-min sharing">
                <img src="images/likes.png" />
            </div-->
        </div>
        <div class="block block-3 chat">
            <div class="block block-1 block-no-style users">
                <ul class="user-list">
                    {% foreach(chat.users::messager) %}
                    <li {% messager.active %}>
                        <a href="{% url(chat::index) %}&id={% messager.uid %}">
                            <img src="{% messager.image %}" />
                            <div class="sender">
                                <h4>{% messager.name %}</h4>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="block block-1 block-no-style messages">
                <ul class="message-list">
                    {% foreach(chat.messages::message) %}
                    <li class="{% message.type %} message">
                        {% message.text %}
                        <span>{% message.date %}</span>
                    </li>
                    {% endfor %}
                </ul>
                <form method="post" action="{% url(chat::send) %}&id={% chat.partner %}" class="post-message">
                    <input type="text" class="squared" name="message" placeholder="Ответ..." />
                    <input type="submit" value="Ответить">
                </form>
            </div>
        </div>
</section>
{% endblock %}