{% extends(base) %}
{% block(scripts) %}
<script src="slider/jquery.nivo.slider.pack.js" type="text/javascript"></script>
<script type="text/javascript">
    var al_page = 1;
    $(window).load(function() {
        $('#slider').nivoSlider({
            effect: 'slideInLeft',
            directionNav: false,
            pauseOnHover: true,
            animSpeed: 500,
            pauseTime: 3000,
        });
        $('#loader').click(function() {
            $.ajax({
                url: "{% url(main::getItems) %}&page=" + al_page,
            }).done(function(data) {
                $('#loaded-content').append(data);
            });
            al_page++;
        });
    });
</script>
{% endblock %}

{% block(content) %}
<div class="container">
    <div class="row main">
        <div class="login">
            <div class="block">
                <h3 class="title">Вход на сайт</h3>
                <form method="post" action="index.php">
                    <input type="text" class="username" placeholder="Логин" />
                    <input type="password" class="password" placeholder="Пароль">
                    <input type="submit" value="Вход" />
                </form>
            </div>
            <input type="button" class="social social-facebook" value="Войти с помощью Facebook" />
            <input type="button" class="social social-vk" value="Войти с помощью ВКонтакте" />
            <input type="button" class="social create-account" value="Регистрация на сайте" />
        </div>
        <div class="promotion">
            <div class="block slider-wrapper">
                <div id="slider" class="nivoSlider">
                    <img src="images/temp/promotion1.jpg" alt="" />
                    <img src="images/temp/promotion2.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div id="loaded-content">
    {% include(item_blocks) %}
    </div>
    </div>
</div>
<div class="row">
    <a id="loader" class="block more">
        <img src="images/more.png" />
        <div class="text">Загрузить больше товаров</div>
    </a>
</div>
{% endblock %}