{% foreach(page.items::itemrow) %}
<div class="row">
    {% foreach(itemrow::item) %}
    {% if(item.button) %}
    <div class="block block-1 add-item-link">
    <a href="#">
        <span></span>
    </a>
    </div>
    {% endif %}
    {% if (item.title) %}
    <div class="block block-{%item.size%} item">
        <div class="image">
            <a class="like {% item.liked %}"
               href="{% url(item::like) %}&id={% item.uid %}"></a>
            <a href="{% url(item::index)%}&id={% item.uid %}"><img src="{%item.image%}" /></a>
        </div>
        <div class="caption">
            <div class="description">
                <a href="{% url(item::index) %}&id={%item.uid%}">
                    <h4>{%item.title%}</h4>
                </a>
                <a href="{% url(categories::sub) %}&id={% item.catid%}" class="category">{%item.category%}</a>
            </div>
            <div class="price">
                <div class="currency">{%item.price.uah%} ₴</div>
                <div class="usd">{%item.price.usd%} $</div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}