{% extends(base) %}

{% block(scripts) %}
<script type="text/javascript" src="scripts/jquery.raty.min.js"></script>
<script type="text/javascript" src="scripts/raty.load.js"></script>
{% endblock %}

{% block(content) %}
<section id="item">
    {% if (page.item) %}
    <div class="row">
        <div class="block block-3 block-no-style" id="content">
            <div class="block block-3 all-info">
                <h3 class="title">
                    {% page.item.title %}
                </h3>
                <div class="image">
                    <div class="original">
                        <img src="{% page.item.image %}" />
                    </div>
                    <div class="minimized">
                        <div class="crop"><img src="images/temp/minimized1.jpg" /></div>
                        <div class="crop"><img src="images/temp/minimized2.jpg" /></div>
                        <div class="crop"><img src="images/temp/minimized3.jpg" /></div>
                    </div>
                </div>
                <div class="description">
                    <p>
                        Under the Ocean, an 8x10 fine art photograph of a sea turtle at play in the waters off St. John in the US Virgin Islands. 
                    </p>
                    <p>
                        Title: Under the Ocean
                    </p>
                    <p>
                        Print Information: This photograph will be printed on premium, professional, archival paper which is guaranteed to last 100 years in normal household viewing conditions. It will be signed on the back by me. Frame and mat shown are for illustrative purposes only and are not included in the purchase price. 
                    </p>
                    <p>
                        Please see my shop policies before making a purchase for details about shipping and returns: http://www.etsy.com/shop_policy.php?user_id=7998386
                    </p>
                    <p>
                        All of my photography is available in other sizes and finishes or can be converted to black and white or sepia. Custom orders are welcome. Please send me a message if you would like more details!
                    </p>
                    <p>
                        Return to my shop: <a href="www.etsy.com/shop/briole">www.etsy.com/shop/briole</a>
                    </p>
                    <p>
                        <strong>******PLEASE NOTE - this print is only available up to 16" x 20" ******</strong><br />
                        Looking for a different size? Check here: <a href="http://www.etsy.com/shop/Briole?section_id=8069363">http://www.etsy.com/shop/Briole?section_id=6715152</a>
                    </p>
                    <p>
                        Save on select sizes when you buy three or more prints. Click here for options: <a href="http://www.etsy.com/shop/Briole?section_id=8069363">http://www.etsy.com/shop/Briole?section_id=8069363</a>
                    </p>
                    <p>
                        Please note that the resolution has been reduced for web viewing purposes. Your purchased print will be a high resolution copy. 
                    </p>
                    <p>
                        Thanks for looking! <br />
                        Heather
                    </p>
                    <p>
                        Purchasing an image does not transfer the rights for reproduction, they are copyright protected and may not be reproduced without my permission. © Briole Photography
                    </p>
                </div>
            </div>
            <div class="block block-3 block-no-style reviews">
                <ul class="comments">
                    {% foreach(page.item.comments::comment) %}
                    <li class="comment">
                        <div class="avatar"><img src="images/temp/avatar50.jpg" /></div>
                        <div class="block">
                            <div class="name"><strong><a href="#">Andrew Veles</a></strong><span class="counter">{% comment.date %}</span></div>
                            <div class="text">{% comment.text %}</div>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="comment add">
                        <form>
                            <textarea name="comment" placeholder="Оставить отзыв"></textarea>
                            <input type="submit" value="Отправить" />
                        </form>
                    </li>
                </ul>
                <div class="block block-min block-no-style sell-bottom">
                    <div class="block block-min sell">
                        <a href="#" class="button buy">Купить</a>
                        <a href="#" class="button like"></a>
                        <div class="price">
                            <div class="currency">162.35 ₴</div>
                            <div class="usd">20.00 $</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include(sidebar) %}
    </div>
    {% endif %}
</section>
{% endblock %}