{% extends(base) %}

{% block(scripts) %}
<script type="text/javascript" src="scripts/jquery.raty.min.js"></script>
<script type="text/javascript" src="scripts/raty.load.js"></script>
{% endblock %}

{% block(content) %}
<section id="item">
    {% if (page.item) %}
    <div class="row">
        <div class="block block-3 block-no-style" id="content">
            <div class="block block-3 all-info">
                <h3 class="title">
                    {% page.item.title %}
                </h3>
                <div class="image">
                    <div class="original">
                        <img src="{% page.item.image %}" />
                    </div>
                    <div class="minimized">
                        <div class="crop"><img src="images/temp/minimized1.jpg" /></div>
                        <div class="crop"><img src="images/temp/minimized2.jpg" /></div>
                        <div class="crop"><img src="images/temp/minimized3.jpg" /></div>
                    </div>
                </div>
                <div class="description">
                   {% page.item.description %}
                </div>
            </div>
            <div class="block block-3 block-no-style reviews">
                <ul class="comments">
                    {% foreach(page.item.comments::comment) %}
                    <li class="comment">
                        <div class="avatar"><img src="images/temp/avatar50.jpg" /></div>
                        <div class="block">
                            <div class="name"><strong><a href="#">Andrew Veles</a></strong><span class="counter">{% comment.date %}</span></div>
                            <div class="text">{% comment.text %}</div>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="comment add">
                        <form action="{% url(item::addcomment) %}" method="POST">
                            <input type="hidden" name="id" value="{% page.item.uid %}"/>
                            <textarea name="comment" placeholder="Оставить отзыв"></textarea>
                            <input type="submit" value="Отправить" />
                        </form>
                    </li>
                </ul>
                <div class="block block-min block-no-style sell-bottom">
                    <div class="block block-min sell">
                        <a href="#" class="button buy">Купить</a>
                        <a href="#" class="button like"></a>
                        <div class="price">
                            <div class="currency">162.35 ₴</div>
                            <div class="usd">20.00 $</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include(sidebar) %}
    </div>
    {% endif %}
</section>
{% endblock %}