{% extends(base) %}
{% block(content) %}
<section id="user">
    <div class="row">
        <div class="block block-cover block-max profile">
            <div class="block block-min block-inner profile-inner">
                <img src="images/temp/avatar100.jpg" class="avatar" />
                <div class="status"><span class="label label-red">Покупатель</span></div>
                <h3 class="title">Андрей Велес</h3>
                <div class="location">
                    Киев, Украина <br />
                    ул. Красноармейская, 136 <br />
                    <a href="#">Показать на карте</a>
                </div>
            </div>
            <div class="cover"><img src="images/temp/shop.jpg"/></div>
            <ul class="categories-row">
                <li><a href="#">Брелки</a><span class="counter">20</span></li>
                <li><a href="#">Декорации и оформление</a><span class="counter">5</span></li>
                <li><a href="#">Открытки</a><span class="counter">17</span></li>
                <li><a href="#">Украшения</a><span class="counter">161</span></li>
                <li><a href="#">Фотографии</a><span class="counter">1</span></li>
            </ul>
        </div>
    </div>
    <div id="loaded-content">
        {% include(item_blocks) %}
    </div>
    <div class="row">
        <a id="loader" class="block more">
            <img src="images/more.png" />
            <div class="text">Загрузить больше товаров</div>
        </a>
    </div>
</section>
{% endblock %}