{% extends "MimimiSiteBundle:Main:base.html.twig" %}

{% block content_wrapper %}
<div class="wrapper">
	<aside>
	{% block aside %}{% endblock %}
	</aside>
	<section>
	{% block content %}{% endblock %}
	</section>
</div>
{% endblock %}