@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&subset=latin,cyrillic");
* {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px;
}

body,
html {
	background: #eee;
	font-family: "Proxima Nova", Tahoma, Verdana, sans-serif;
	font-size: 13px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	color: #beaf9a;
}
.background {
	opacity: 0.60;
	width: 120%;
}

.background img {
	width: 120px;
	height: 120px;
	display: block;
	float: left;
	border: 0px;
	outline: 0px;
}

.splash-screen {
	color: #beaf9a;
}

.splash-screen a,
.splash-screen input {
	transition: 			color .4s 0s ease-out,
							border .5s 0s ease-out,
							box-shadow .4s 0s ease-out,
							background-color .4s 0s linear,
							opacity .3s 0s ease-out;
	-o-transition: 			color .4s 0s ease-out,
							border .5s 0s ease-out,
							box-shadow .4s 0s ease-out,
							background-color .4s 0s linear,
							opacity .3s 0s ease-out;
	-moz-transition: 		color .4s 0s ease-out,
							border .5s 0s ease-out,
							box-shadow .4s 0s ease-out,
							background-color .4s 0s linear,
							opacity .3s 0s ease-out;
	-webkit-transition: 	color .4s 0s ease-out,
							border .5s 0s ease-out,
							box-shadow .4s 0s ease-out,
							background-color .4s 0s linear,
							opacity .3s 0s ease-out;
}

.splash-screen a {
	color: #f89c1c;
	border-bottom: 1px solid transparent;
	text-decoration: none;
}

.splash-screen a:hover {
	border-bottom: 1px solid #e5e5e5;
}

.splash-screen .wrapper {
	width: 480px;
	margin: 0px auto;
	display: block;
}

.splash-screen .block {
	height: 480px;
	width: 480px;
	display: block;
	float: left;
	background: #fff;
	position: absolute;
	top: 50%;
	margin-top: -240px;
	text-align: center;
}

.splash-screen a.brand {
	background: url("../images/logo-splash.svg") no-repeat;
	background-size: contain;
	width: 240px;
	height: 50px;
	display: block;
	margin: 60px auto 20px auto;
	border: 0px;
}

.login a.brand {
	margin: 60px auto 63px auto;
	color: #f99c1c;
	font-size: 30px;
	padding: 15px 0px 0px 0px;
	text-align: right;
	font-family: "Proxima Nova";
}

.splash-screen a.brand:hover {
	border: 0px;
}

.splash-screen .link {
	font-size: 15px;
	margin: 0px 0px 60px 0px;
	display: block;
	width: 100%;
}

.splash-screen .link a {
	font-weight: 700;
}

.splash-screen input::-webkit-input-placeholder {color: #beaf9a;}
.splash-screen input:-moz-placeholder {color: #beaf9a;}
.splash-screen input::-moz-placeholder {color: #beaf9a;}
.splash-screen input::-ms-input-placeholder {color: #beaf9a;}

.splash-screen form {
	margin: 0px 0px 20px 0px;
}

.splash-screen input {
	padding: 13px 10px;
	width: 300px;
	font-size: 13px;
	display: block;
	margin: 0px auto;
	color: #7b6b53;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.splash-screen input[type="submit"] {
	background: none;
	background: #97cba5;
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 20px;
	cursor: pointer;
}

.splash-screen input[type="submit"]:hover {
	background-color: #82bb91;
}

.splash-screen input[type="text"]:focus,
.splash-screen input[type="password"]:focus {
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.10);
}

.splash-screen input.name {
	border-top: 1px solid #e4dcd1;
	border-left: 1px solid #e4dcd1;
	border-right: 1px solid #e4dcd1;
	border-radius: 4px 4px 0px 0px;
}

.registration input.email {
	border-top: 1px solid #e4dcd1;
	border-bottom: 1px solid #e4dcd1;
	border-left: 1px solid #e4dcd1;
	border-right: 1px solid #e4dcd1;
}

.login input.email {
	border-top: 1px solid #e4dcd1;
	border-bottom: 1px solid #e4dcd1;
	border-left: 1px solid #e4dcd1;
	border-right: 1px solid #e4dcd1;
	border-radius: 4px 4px 0px 0px;
}

.splash-screen input.password {
	border-bottom: 1px solid #e4dcd1;
	border-left: 1px solid #e4dcd1;
	border-right: 1px solid #e4dcd1;
	border-radius: 0px 0px 4px 4px;
}

.splash-screen ul.links {
	list-style-type: none;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
}

.splash-screen ul.links li {
	display: inline;
	margin: 0px 20px;
}

.message .text {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
    box-sizing: border-box;
    padding: 20px 60px;
	height: 240px;
	font-size: 16px;
	line-height: 28px;
}

.message .text strong {
	text-transform: uppercase;
	color: #f89c1c;
	border-bottom: 1px solid #e4dcd1;
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 10px 0px;
	display: inline-block;
}

.splash-screen ul.links li a {
	color: #beaf9a;
}