img.avatar {border-radius: 6px;}
h3.title {
	text-transform: uppercase; 
	color: #444; 
	font-weight: bold; 
	font-size: 16px; 
	text-align: center; 
	padding: 15px 0px; 
	letter-spacing: 2px;
}

a.button {
	border-radius: 6px;
	color: #fff;
	padding: 6px 12px 6px 38px;
	float: left;
	font-weight: bold;
	transition: 0.3s 0s ease background-color;
	-o-transition: 0.3s 0s ease background-color;
	-moz-transition: 0.3s 0s ease background-color;
	-webkit-transition: 0.3s 0s ease background-color;
}

a.buy {background: url("../images/cart.png") no-repeat #759c43 6px 5px;}
a.buy:hover {background-color: #527526;}
a.like {background: #dd9798 url("../images/like-white.png") no-repeat 6px 6px;}
a.like:hover {background-color: #9c4343;}


ul.categories-row {
	height: 34px;
	overflow: hidden;
	text-align: center;
	list-style-type: none;
	padding: 17px 0px;
}

	ul.categories-row li {
		display: inline;
		margin: 0px 10px;

	}

ul.categories-column {
	border-top: 1px solid #e1e1e1;
	text-align: left !important;
	margin: 0px 30px 0px 20px;
	display: inline-block;
}
	
	ul.categories-column li {
		display: inline-block;
		width: 100%;
		float: left;
		border-bottom: 1px solid #e1e1e1;
		padding: 6px 0px;
		padding-left: 10px;
	}

	ul.categories-column li:hover {
		background: #fcfcfc;
	}

	ul.categories-column li.address {
		background: url("../images/list-point-map.png") transparent no-repeat left 7px !important;
		padding-left: 25px !important;
	}

	ul.categories-column li.address:hover {
		background-color: transparent !important;
	}

.counter {
	margin-left: 6px !important; 
	font-size: 11px; 
	background: #eee; 
	padding: 2px 5px 1px 5px; 
	border-radius: 100px;
}

.label {
	border-radius: 3px;
	text-align: center;
	color: #fff;
	padding: 1px 6px 1px 7px;
	font-size: 10px;
	text-transform: uppercase;
}

	.label-blue {background: #91b5e5;}
	.label-red {background: #e5b591;}

.no-border {border: 0px !important;}

.price {
	width: 72px;
	display: block;
	float: right;
	text-align: right;
	font-size: 12px;
	line-height: 18px;
	color: #ccc;
}

	.price .currency {color: #a78181;}

.line {
	display: block;
	width: 100%;
	float: left;
	padding: 10px 0px;
}
