section.item ul.comments li.add h3.title {color: #999;}
section.item ul.comments li.add textarea {
	display: block; 
	width: 450px;
	box-shadow: 0px; 
	border: 1px solid #ddd; 
	display: block; 
	font-size: 13px; 
	color: #444; 
	transition: 0.3s 0s ease box-shadow, 0.3s 0s ease border; 
	-o-transition: 0.3s 0s ease box-shadow, 0.3s 0s ease border; 
	-moz-transition: 0.3s 0s ease box-shadow, 0.3s 0s ease border; 
	-webkit-transition: 0.3s 0s ease box-shadow, 0.3s 0s ease border; 
	min-height: 100px; 
	background: #fff; 
	border-radius: 6px; 
	padding: 10px;
	margin-bottom: 10px;
}

section.item ul.comments li.add textarea:hover {
	border: 1px solid #ccc;
}

section.item ul.comments li.add textarea:focus {
	border: 1px solid #ccc; box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

section.item ul.comments li.add input[type="submit"] {margin-bottom: 25px;}