@import url("inputs.css");
@import url("options.css");
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic");
* {
	padding: 0px; 
	margin: 0px; 
	outline: 0px; 
	border: 0px;
}

body, html {
	background: #f4f4f4; 
	font-family: "PT Sans", Tahoma, Sans; 
	font-size: 13px; 
	padding-left: 0px !important; 
	padding-right: 0px !important; 
	height: 100%; 
	color: #444; 
	-webkit-font-smoothing: antialiased; 
	font-smoothing: antialiased; 
	width: 100%; 
	overflow-x: hidden;
}

a {
	color: #999; 
	text-decoration: none;
	transition: 			color .2s 0s ease,
							border .5s 0s ease,
							background-color .3s 0s ease,
							opacity .3s 0s ease;
	-o-transition: 			color .2s 0s ease,
							border .5s 0s ease,
							background-color .3s 0s ease,
							opacity .3s 0s ease;
	-moz-transition: 		color .2s 0s ease,
							border .5s 0s ease,
							background-color .3s 0s ease,
							opacity .3s 0s ease;
	-webkit-transition: 	color .2s 0s ease,
							border .5s 0s ease,
							background-color .3s 0s ease,
							opacity .3s 0s ease;
}

a:active {
	color: #888; 
	text-decoration: none;
}

a:hover, a:focus {
	color: #9c4343; 
	text-decoration: none;
}

h1, h2, h3, h5 {
	color: #444;
}



/* HEADER */
header {
	background: #fff; 
	width: 100%; 
	margin-bottom: 25px; 
	padding-bottom: 10px; 
	border-bottom: 1px solid #e1e1e1;
}
header .row {overflow: visible; position: relative;}
header .brand {
	text-align: center; 
	padding: 20px 0px;
}

header .search {position: relative;}
header .search form {
	position: absolute; 
	right: 0px; 
	margin-top: -57px;
}

header ul.menu {
	background-image: none; 
	background: #fcfcfc; 
	border-bottom: 1px solid #e1e1e1; 
	border-top: 1px solid #e1e1e1; 
	min-height: 35px; 
	margin: 0px auto 0px auto; 
	width: 100% !important; 
	text-align: center; 
	display: block;
}

header ul.menu li {
	display: inline-block; 
	margin: 10px 30px 8px; 
	text-transform: uppercase; 
	font-weight: bold; 
	font-size: 13px;
}

header ul.menu a {
	padding: 8px; 
	cursor: pointer; 
	transition: 0.3s 0s ease color; 
	-o-transition: 0.3s 0s ease color; 
	-moz-transition: 0.3s 0s ease color; 
	-webkit-transition: 0.3s 0s ease color;
}

header .header-profile {
	position: absolute; 
	margin-top: 20px;
}

header .header-profile .userpic {
	display: block; 
	float: left; 
	position: relative; 
	width: 40px; 
	height: 40px; 
	margin-right: 10px; 
	overflow: hidden;
}

header .header-profile .userpic img {
	width: 40px; 
	height: 40px; 
	border-radius: 6px;
}

header .header-profile a.settings {
	width: 20px;
	height: 20px;
	background: url("../images/settings.svg") no-repeat;
	display: block;
	float: left;
	background-size: 20px 20px;
	margin-top: 10px;
	border-right: 1px solid #e1e1e1;
	padding-right: 8px;
}

header .header-profile .inbox {
	height: 50px; 
	position: relative; 
	display: block; 
	float: left; 
	padding: 12px 12px 0px 6px;

}

header .header-profile .inbox a.icon {
	background: url("../images/icons-inbox.png") no-repeat; 
	width: 20px; 
	height: 20px; 
	display: block; 
	float: left;
}

header .header-profile .inbox a.icon:hover {
	background-position: 0px -20px;
}

header .header-profile .inbox .counter {
	display: block; 
	float: left; 
	color: #a7333c; 
	font-size: 12px; 
	padding: 2px 5px 0px 4px; 
	margin: -5px 0px 0px 11px; 
	position: absolute;
}

header .header-profile .notifications {
	position: absolute !important;
	top: 50px;
	z-index: 999;
	left: -10px;
	display: block;
	background: #fff;
	overflow: visible;
}

header .header-profile .notifications .triangle {
	height: 16px;
	width: 16px;
	position: absolute;
	background: url("../images/notification-bg-triangle.png") no-repeat;
	top: -16px;
	left: 17px;
}

header .header-profile .notifications ul.categories-column {
	width: 80%;
	border: 0px;
}
header .header-profile .notifications ul.categories-column li {padding: 20px 0px;}
header .header-profile .notifications ul.categories-column li img.avatar {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
}

header .header-profile .notifications ul.categories-column li p {margin-left: 60px;}
header .header-profile .notifications ul.categories-column li:last-child {
	border: 0px;
}

/* FOOTER */
footer {
	height: 60px; 
	overflow: hidden; 
	padding-top: 20px; 
	background: #fff; 
	border-top: 1px solid #e1e1e1; 
	width: 100%; 
	display: block; 
	float: left;
}

footer .copyrights {
	display: inline-block; 
	float: left; 
	width: 122px; 
	text-align: right; 
	color: #ccc; 
	font-size: 11px;
}

footer .copyrights img {
	display: block;
}

footer ul.footer-menu {
	float: right; 
	margin: 0px !important; 
	margin-top: 6px;
}

footer ul.footer-menu li {
	display: inline; 
	float: right; 
	margin: 0px 10px; 
	text-transform: uppercase; 
	list-style: none;
}

footer ul.footer-menu li a {
	color: #ccc;
}

footer ul.footer-menu li a:focus,
footer ul.footer-menu li a:hover,
footer ul.footer-menu li a:active {
	color: #bbb;
}

footer .feedback {
	display: block; 
	margin-top: 20px; 
	text-align: right; 
	margin-right: 10px; 
	color: #ccc; 
	font-size: 11px;
}

/* BLOCK SETTINGS */
.row {
	display: block;
	width: 1000px;
	overflow: hidden;
	margin: 0px auto;
	padding: 0px 2px;
}

.block {
	background: #fff;
	border-radius: 6px;
	display: block;
	margin-bottom: 25px;
	overflow: hidden;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
	min-height: 20px;
	margin-right: 25px;
	float: left;
}

	.block-cover {
		position: relative;
		height: 390px;
	}

		.block-cover .cover {
			height: 340px;
			overflow: hidden;
			position: relative;
		}

		.block-cover .cover img {
			width: 100%;
			z-index: 1;
		}

		.block-cover .block-inner {
			background: #f4f4f4;
			box-shadow: none !important;
			position: absolute;
			z-index: 2;
			height: 300px;
			margin-top: 10px;
			display: block;
			float: none;
		}

	.block-max {width: 100%;}
	.block-1 {width: 316px;}
	.block-2 {width: 657px;}
	.block-3 {width: 745px;}
	.block-min {width: 220px;}

.block:last-child {margin-right: 0px;}
.block-no-style {
	background: none;
	border-radius: 0px;
	display: block;
	margin-bottom: 25px;
	overflow: hidden;
	box-shadow: none;
	min-height: 20px;
	margin-right: 25px;
	float: left;
	padding: 0px 2px;
}

/* SECTION # USER */
section#user {}
section#user .profile-inner {
	left: 50%;
	margin-left: -125px;
	padding: 10px 10px 10px 10px;
	text-align: center;
}

section#user .profile-inner img.avatar {margin-top: 25px;}
section#user .profile-inner .location {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 10px;
	display: inline-block;
}

/* SECTION # SHOP */
section#shop .shop-inner {
	top: 0px;
	right: 0px;
	margin-top: 6%;
        height: 65%;/* added by Inlife, 22.08.13 20:14*/
}

section#shop .shop-inner a.like {
	margin-left: -61px;
	float: none !important;
	display: inline-block !important;
	position: absolute;
	bottom: 10px;
	left: 50%;
}

/* SECTION # CONTENT */
section#content .user-fields {
	display: block; 
	overflow: hidden; 
	float: left; 
	margin-right: 25px;
	margin-bottom: 25px;
}

section#content .user-fields .block {
	float: none !important;
	margin-bottom: 10px;
}

section#content .promotion {
	margin-right: 0px;
	float: right;
	height: 315px;
}

section#content .user-fields .social {
	padding: 8px 9px 7px 35px;
	width: 100%;
	overflow: hidden;
	margin: 7px 0px 0px 0px;
	font-size: 11px;
	color: #fff;
	border-radius: 6px;
	text-align: left;
	float: left;
	display: block;
	height: 35px;
	transition: 0.3s 0s ease background-color;
	-o-transition: 0.3s 0s ease background-color;
	-moz-transition: 0.3s 0s ease background-color;
	-webkit-transition: 0.3s 0s ease background-color;
}


section#content .profile {
	height: 275px;
	float: left;
	padding: 20px 5px;
	text-align: center;
}

section#shop .profile {
	height: 267px;
}

.user-info {
	display: block; 
	float: left;
	overflow: hidden;
	text-align: center;
	max-height: 393px;
}
	.user-info .profile {
		float: none;
		padding: 23px 0px 22px 0px;
		text-align: center;
	}

		.profile .rating {
			display: block;
			margin: 0px auto;
			width: 100px;
			margin-top: 120px;
		}

	.user-info .sharing {
		padding: 17px 0px 11px 0px;
	}


section#content .user-fields input[type="button"].social-facebook {background: #5f90b0 url("../images/facebook.png") no-repeat 10px 10px;}
section#content .user-fields input[type="button"].social-facebook:hover {background-color: #6f9dbb;}
section#content .user-fields input[type="button"].social-vk {background: #81aecb url("../images/vk.png") no-repeat 10px 10px;}
section#content .user-fields input[type="button"].social-vk:hover {background-color: #95bed8;}
section#content .user-fields input[type="button"].create-account {background: #bbb url("../images/email.png") no-repeat 10px 10px;}
section#content .user-fields input[type="button"].create-account:hover {background-color: #ccc;}
section#content .user-fields .registration input {margin: 0px 0px 6px 8px;}
section#content .user-fields .block-min input {margin: 0px 0px 5px 8px;}
section#content .user-fields .block-min input[type="submit"] {margin: 10px 10px 10px 0px;}
section#content .user-fields .block-min a.back {
	margin-top: 16px;
	display: block;
	float: left;
	margin-left: 18px;
}

/* ADD-ITEM */
section.add-edit .section {
	width: 500px;
	margin-left: 25px;
	float: left;
	display: block;
	overflow: hidden; 
}

section.add-edit .column {overflow: hidden;}

section.add-edit .caption {
	float: left;
	width: 120px;
	display: block;
	margin-top: 7px;
	padding-left: 0px;
}

section.add-edit .input {
	width: 350px;
	display: block;
	float: right;
}

	section.add-edit .picture {
		width: 170px;
		min-height: 100px;
		display: block;
		float: right;
		overflow: hidden;
		margin-top: 7px;
		background: #fafafa;
		border-radius: 6px;
		text-align: center;
		position: relative;
		margin-right: 25px;
		padding: 0px 0px 10px 0px;
	}


		section.add-edit .picture .upload {
			display: block;
			margin: 0px auto;
			border: 1px solid #000;
			width: 100px;
			height: 100px;
			overflow: hidden;
			position: relative;
			background: url("../images/add-photo.png") no-repeat center center;
			border-radius: 6px;
			border: 6px dashed #e1e1e1;
		}


		section.add-edit .picture .additional {
			height: 40px;
			margin-bottom: 20px;
		}

		section.add-edit .picture img {
			border: 6px dashed #ccc;
			border-radius: 6px;
			margin-top: 20px;
		}

		section.add-edit .picture ul {
			text-align: left;
			margin: 20px 10px 0px 10px;
			list-style-type: none;
		}

section.add-edit input[type="text"],
section.add-edit input[type="password"] {
	width: 310px;
	padding: 0px 10px 0px 10px !important;
}

section.add-edit .picture input[type="file"].file {
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0;
	cursor: pointer;
}

section#add-item input[type="text"].item-currency {
	width: 120px;
}

section.add-edit .submit {
	display: block;
	width: 100%;
	float: right;
	padding-right: 25px;
	padding-bottom: 15px;
}

section#add-item .submit input[type="submit"].add {
	background: #759c43;
	color: #fff;
	font-weight: bold;
	padding: 8px 20px;
	border-radius: 6px;
}

section#add-item .submit input[type="submit"].add:hover {
	background-color: #527526 !important;
}

section#add-item select.currency {
	height: 34px;
	display: block;
	float: left;
	margin-right: 10px;
	width: 100px;
}

section#add-item select.categories {
	width: 485px;
	height: 30px;
	margin-bottom: 20px;
}

section#add-item .submit input[type="submit"] {
	margin-left: 10px;
}

section#add-item textarea {
	width: 460px;
	min-height: 300px;
	min-width: 460px;
	max-width: 460px;
}

section#add-item .picture h4.title {
	font-size: 12px;
	margin: 30px 10px 20px 10px !important;
	padding: 10px 0px !important;
}

section#add-item .section .money {
	margin-bottom: 20px;
}

section#add-item .submit {
	margin-top: 20px;
	border-top: 1px solid #e1e1e1;
	padding-top: 20px;
}

/* EDIT-PROFILE */
section#edit-profile .phone input[type="text"].country {
	width: 70px !important;
	margin-right: 10px;
}

section#edit-profile .phone input[type="text"].city {
	width: 70px !important;
	margin-right: 10px;
}

section#edit-profile .phone input[type="text"].number {
	width: 108px !important;
}

section#edit-profile .map input[type="text"] {
	display: block;
	float: left;
	text-align: left;
	margin-bottom: 10px;
}

section#edit-profile .map input[type="text"].map-country {
	width: 150px !important;
	margin-right: 10px;
}

section#edit-profile .map input[type="text"].map-city {
	width: 130px;
}

section#edit-profile .map input[type="text"].map-address {
	width: 200px;
	margin-right: 10px;
}

section#edit-profile .map input[type="text"].map-index {
	width: 80px;
}

section#edit-profile input[type="submit"] {
	display: block;
	float: right;
	margin-right: 25px;
}

section#edit-profile a.back {
	margin-left: 25px;
	display: block;
	float: left;
	margin-top: 6px;
}
/* CONTENT */
#content {float: left; display: block;}
#content .all-info {margin-right: 0px;}
/* SIDEBAR */
#sidebar {float: right; display: block;}
.sell {
	overflow: hidden;
	padding: 9px 0px 6px 0px;
	margin: 0px 0px 8px 0px !important;
}
.sell a.button {margin-top: 2px;}
.sell a.buy {margin-left: 10px; color: #fff !important;}
.sell a.like {
	width: 30px;
	height: 30px;
	background-position: 50% 50%;
	padding: 0px !important;
	margin-left: 5px;
}
.sell .price {margin-right: 10px;}
#sidebar .networks {padding: 12px 0px 5px 0px; text-align: center;}
#sidebar ul.categories-column {border: 0px;}
#sidebar .seller li.profile {min-height: 55px !important;}
#sidebar .seller li.profile:hover {background: none !important;}
#sidebar h3.title {width: 100%; display: block; float: left;}
#sidebar .seller li.profile img {
	display: block;
	float: left;
	border-radius: 6px;
	width: 50px;
	height: 50px;
}

#sidebar .social-stats,
#sidebar .info {padding-bottom: 25px;}

#sidebar .seller li.profile .user {
	display: inline-block;
	margin-left: 10px;
	color: #ccc;
}

#sidebar .seller li.profile .user a {
	color: #444;
	display: block;
	margin-top: 5px;
}

#sidebar .seller li.profile .user a:hover {color: #999;}
#sidebar .more-related .images {
	display: block;
	text-align: center;
}

#sidebar .more-related .images img {
	width: 60px;
	height: 60px;
	border-radius: 6px;
	margin: 5px 5px 0px 0px;
}

#sidebar .more-related a.more-link {
	background: #ccc;
	color: #fff;
	border-radius: 6px;
	padding: 6px 12px 5px 12px;
	text-align: right;
	margin: 6px 17px 15px 0px;
	display: block;
	float: right;
	font-weight: bold;
	font-size: 13px;
	text-transform: none;
	letter-spacing: 0px;
	transition: 0.3s 0s ease background;
	-o-transition: 0.3s 0s ease background;
	-moz-transition: 0.3s 0s ease background;
	-webkit-transition: 0.3s 0s ease background;
}

#sidebar .more-related a.more-link:hover {
	background: #999;
}

#sidebar .social-stats ul.stats {
	list-style-type: none;
	margin-bottom: 15px;
}

/* ITEM : BLOCK */
.item {}
.item .image {
	height: 268px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	-webkit-transition: opacity 0.5s ease 0s;
	-moz-transition: opacity 0.5s ease 0s;
	-o-transition: opacity 0.5s ease 0s;
	transition: opacity 0.5s ease 0s;

}

	.item .image:hover img {
		opacity: 0.85;
	}

	.item .image a.buy,
	.item .image .like {
		position: absolute;	
		-webkit-transition: opacity 0.5s ease 0s;
		-moz-transition: opacity 0.5s ease 0s;
		-o-transition: opacity 0.5s ease 0s;
		transition: opacity 0.5s ease 0s;
		z-index: 3;
		opacity: 0;
	}

	.item .image:hover a.buy,
	.item .image:hover .like {
		opacity: 1;
		cursor: pointer;
	}

	.item .image .like {
		background: url("../images/like.png") no-repeat;
		width: 24px;
		height: 24px;
		top: 10px;
		right: 10px;
	}

	.item .image .like:hover {
		background: url("../images/like-hover.png") no-repeat;
	}


	.item .image a.buy {
		right: 10px;
		bottom: 10px;
	}


	.item .image img {
		width: 100%;
		border-radius: 6px 6px 0px 0px;
		-webkit-border-radius: 6px 6px 0px 0px;
		-moz-border-radius: 6px 6px 0px 0px;
		-o-border-radius: 6px 6px 0px 0px;
		position: relative;
		z-index: 2;
		min-height: 276px;
	}

.item .caption {
	padding: 0px 8px;
 	overflow: hidden;
 	height: 35px;
 	margin: 8px 0px;
}

	.item .caption .description {
		overflow: hidden;
		float: left;
		display: block;
	}

	.block-1 .caption .description {width: 213px;}
	.block-2 .caption .description {width: 554px;}

		.item .caption .description h4 {
			height: 15px;
			overflow: hidden;
			font-size: 13px;
			margin: 0px 0px 2px 0px;
		}

		.item .caption .description a.category {
			color: #999;
			font-size: 12px;
		}

			.item .caption .description a.category:hover {
				color: #666 !important;
			}


/* SECTION # ITEM */
section#item .all-info .block {
	padding: 0px 25px 25px 25px;
}

section#item .all-info .block .title {
	border-bottom: 1px solid #e1e1e1;
	padding: 25px 0px;
	margin-bottom: 10px;
}

section#item .all-info .image {
	margin: 10px 0px 20px 0px;
	display: block;
	height: auto;
	float: left;
	width: 100%;
}

section#item .all-info .image .original {
	width: 600px;
	float: left;
	margin: 0px 0px 25px 25px;
}

section#item .all-info .image .original img {
	width: 100%;
	border-radius: 6px;
}

section#item .all-info .image .minimized {
	width: 70px;
	float: right;
	margin: 0px 25px 25px 0px;
}

section#item .all-info .image .minimized .crop {
	height: 70px;
	overflow: hidden;
	margin: 0px 0px 8px 0px;
	border-radius: 6px;
}

section#item .all-info .image .minimized img {
	width: 100%;
}

section#item .all-info .description {
	padding: 0px 25px 25px 25px;
}

section#item .all-info .description p {
	margin-bottom: 13px;
}

section#item .all-info .description p:last-child {
	margin-bottom: 0px;
}

section#item .all-info .description a {
	color: #9c4343;
}

section#item .all-info .description a:hover,
section#item .all-info .description a:active,
section#item .all-info .description a:visited {
	color: #999;
}

section#item .reviews .sell-bottom {float: right;}
section#item .reviews .add input[type="submit"] {margin-top: 25px;}
/* MORE */
a.more {
	width: 307px;
	height: 31px;
	color: #9c4343;
	text-transform: uppercase;
	font-weight: bold;
	padding: 12px 0px 8px 0px;
	border-radius: 10px;
	cursor: pointer;
	letter-spacing: 2px;
	margin: 0px auto 25px auto !important;
	float: none;
	background: none;
	border-radius: 0px;
	box-shadow: none;
}

@-webkit-keyframes rotation {
	from {
	-webkit-transform:rotate(0deg);
	}

	 to {
		-webkit-transform:rotate(-360deg);
	}
}
@-moz-keyframes rotation {
	from {
		-moz-transform:rotate(0deg);
	} 

	to {
		-moz-transform:rotate(-360deg);
	}
}
@keyframes rotation {
	from {
		transform:rotate(0deg);
	} 
	to {
		transform:rotate(-360deg);
	}
}

a.more:hover img {
	-webkit-animation-name: rotation;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-animation-name: rotation;
	-moz-animation-duration: 0.5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	animation-name: rotation;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}

a.more img {
	display: block;
	float: left;
	margin: 0px 15px;
}

a.more .text {
	margin-top: 7px;
}

/* CAP */
.cap .holder {
	text-align: center; 
	font-size: 36px; 
	color: #777; 
	font-family: "Open Sans"; 
	font-weight: 100; 
	height: 200px; 
	overflow: hidden; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	max-width: 430px; 
	margin: -100px 0px 0px -215px;
}

.cap .info {
	position: absolute; 
	text-align: center; 
	width: 100%; 
	bottom: 5%;
}

.cap .info li {
	margin: 0px auto;
}

.cap .info a {
	color: #fff; 
	padding: 5px 12px; 
	border-radius: 6px; 
	-webkit-transition: background 0.3s 0s ease; 
	-moz-transition: background 0.3s 0s ease; 
	-o-transition: background 0.3s 0s ease; 
	transition: background 0.3s 0s ease;
}

.cap .info a:hover {
	background: #b66060;
}

.cap .info a.developers {
	margin-top: 20px !important;
}

a.developers {
	color: #999; 
	background: none !important; 
	padding: none !important; 
	border-radius: none !important;
}

a.developers {
	color: #9c4343;
}

/* COMMENTS */
ul.comments {
	list-style-type: none;
	width: 472px;
	display: block;
	float: left;
}

ul.comments .title {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 25px;
}

ul.comments li.comment {
	position: relative;
	display: block;
	width: 100%;
	float: left;
}

ul.comments li.comment .avatar {
	background: url("../images/comment-arrow.png") no-repeat right center;
	width: 70px;
	height: 50px;
	display: block;
	float: left;
	position: relative;
	z-index: 3;
}

ul.comments li.comment .avatar img {
	border-radius: 6px;
	width: 50px;
	height: 50px;
}

ul.comments li.comment .block {padding: 10px; width: 380px;}
ul.comments li.comment .block .counter {float: right;}
ul.comments li.comment .block .name {
	margin: 9px 0px 8px 0px;
	padding-bottom: 7px;
	border-bottom: 1px solid #e1e1e1;
}

/* SWITCHER */
.switcher {
	border: 1px solid #e1e1e1;
	padding: 0px;
	margin: 0px 100px 25px 0px;
	border-radius: 6px;
}

.switcher a.master {
	width: 50%;
	display: block;
	float: left;
}

.switcher a.active {
	background: #e0f9b9;
}

.switcher a:hover {
	background-color: #f1fce0;
}

.switcher a.user {
	width: 49.9%;
	display: block;
	float: right;
	border-left: 1px solid #e1e1e1;
}