<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="splash/splash.css" />
	</head>
	<body class="splash-screen registration">
		<div class="background">
			<img src="splash/images/temp/1.jpg" />
			<img src="splash/images/temp/2.jpg" />
			<img src="splash/images/temp/3.jpg" />
			<img src="splash/images/temp/4.jpg" />
			<img src="splash/images/temp/5.jpg" />
			<img src="splash/images/temp/6.jpg" />
			<img src="splash/images/temp/7.jpg" />
			<img src="splash/images/temp/8.jpg" />
			<img src="splash/images/temp/9.jpg" />
			<img src="splash/images/temp/10.jpg" />
			<img src="splash/images/temp/11.jpg" />
			<img src="splash/images/temp/12.jpg" />
			<img src="splash/images/temp/13.jpg" />
			<img src="splash/images/temp/14.jpg" />
			<img src="splash/images/temp/15.jpg" />
			<img src="splash/images/temp/16.jpg" />
			<img src="splash/images/temp/17.jpg" />
			<img src="splash/images/temp/18.jpg" />
			<img src="splash/images/temp/19.jpg" />
			<img src="splash/images/temp/20.jpg" />
			<img src="splash/images/temp/21.jpg" />
			<img src="splash/images/temp/22.jpg" />
			<img src="splash/images/temp/23.jpg" />
			<img src="splash/images/temp/24.jpg" />
			<img src="splash/images/temp/25.jpg" />
			<img src="splash/images/temp/26.jpg" />
			<img src="splash/images/temp/27.jpg" />
			<img src="splash/images/temp/28.jpg" />
			<img src="splash/images/temp/29.jpg" />
			<img src="splash/images/temp/30.jpg" />
			<img src="splash/images/temp/31.jpg" />
			<img src="splash/images/temp/32.jpg" />
			<img src="splash/images/temp/33.jpg" />
			<img src="splash/images/temp/34.jpg" />
			<img src="splash/images/temp/35.jpg" />
			<img src="splash/images/temp/36.jpg" />
			<img src="splash/images/temp/37.jpg" />
			<img src="splash/images/temp/38.jpg" />
			<img src="splash/images/temp/39.jpg" />
			<img src="splash/images/temp/40.jpg" />
			<img src="splash/images/temp/41.jpg" />
			<img src="splash/images/temp/42.jpg" />
			<img src="splash/images/temp/43.jpg" />
			<img src="splash/images/temp/44.jpg" />			
			<img src="splash/images/temp/1.jpg" />
			<img src="splash/images/temp/2.jpg" />
			<img src="splash/images/temp/3.jpg" />
			<img src="splash/images/temp/4.jpg" />
			<img src="splash/images/temp/5.jpg" />
			<img src="splash/images/temp/6.jpg" />
			<img src="splash/images/temp/7.jpg" />
			<img src="splash/images/temp/8.jpg" />
			<img src="splash/images/temp/9.jpg" />
			<img src="splash/images/temp/10.jpg" />
			<img src="splash/images/temp/11.jpg" />
			<img src="splash/images/temp/12.jpg" />
			<img src="splash/images/temp/13.jpg" />
			<img src="splash/images/temp/14.jpg" />
			<img src="splash/images/temp/15.jpg" />
			<img src="splash/images/temp/16.jpg" />
			<img src="splash/images/temp/17.jpg" />
			<img src="splash/images/temp/18.jpg" />
			<img src="splash/images/temp/19.jpg" />
			<img src="splash/images/temp/20.jpg" />
			<img src="splash/images/temp/21.jpg" />
			<img src="splash/images/temp/22.jpg" />
			<img src="splash/images/temp/23.jpg" />
			<img src="splash/images/temp/24.jpg" />
			<img src="splash/images/temp/25.jpg" />
			<img src="splash/images/temp/26.jpg" />
			<img src="splash/images/temp/27.jpg" />
			<img src="splash/images/temp/28.jpg" />
			<img src="splash/images/temp/29.jpg" />
			<img src="splash/images/temp/30.jpg" />
			<img src="splash/images/temp/31.jpg" />
			<img src="splash/images/temp/32.jpg" />
			<img src="splash/images/temp/33.jpg" />
			<img src="splash/images/temp/34.jpg" />
			<img src="splash/images/temp/35.jpg" />
			<img src="splash/images/temp/36.jpg" />
			<img src="splash/images/temp/37.jpg" />
			<img src="splash/images/temp/38.jpg" />
			<img src="splash/images/temp/39.jpg" />
			<img src="splash/images/temp/40.jpg" />
			<img src="splash/images/temp/41.jpg" />
			<img src="splash/images/temp/42.jpg" />
			<img src="splash/images/temp/43.jpg" />
			<img src="splash/images/temp/44.jpg" />			
			<img src="splash/images/temp/1.jpg" />
			<img src="splash/images/temp/2.jpg" />
			<img src="splash/images/temp/3.jpg" />
			<img src="splash/images/temp/4.jpg" />
			<img src="splash/images/temp/5.jpg" />
			<img src="splash/images/temp/6.jpg" />
			<img src="splash/images/temp/7.jpg" />
			<img src="splash/images/temp/8.jpg" />
			<img src="splash/images/temp/9.jpg" />
			<img src="splash/images/temp/10.jpg" />
			<img src="splash/images/temp/11.jpg" />
			<img src="splash/images/temp/12.jpg" />
			<img src="splash/images/temp/13.jpg" />
			<img src="splash/images/temp/14.jpg" />
			<img src="splash/images/temp/15.jpg" />
			<img src="splash/images/temp/16.jpg" />
			<img src="splash/images/temp/17.jpg" />
			<img src="splash/images/temp/18.jpg" />
			<img src="splash/images/temp/19.jpg" />
			<img src="splash/images/temp/20.jpg" />
			<img src="splash/images/temp/21.jpg" />
			<img src="splash/images/temp/22.jpg" />
			<img src="splash/images/temp/23.jpg" />
			<img src="splash/images/temp/24.jpg" />
			<img src="splash/images/temp/25.jpg" />
			<img src="splash/images/temp/26.jpg" />
			<img src="splash/images/temp/27.jpg" />
			<img src="splash/images/temp/28.jpg" />
			<img src="splash/images/temp/29.jpg" />
			<img src="splash/images/temp/30.jpg" />
			<img src="splash/images/temp/31.jpg" />
			<img src="splash/images/temp/32.jpg" />
			<img src="splash/images/temp/33.jpg" />
			<img src="splash/images/temp/34.jpg" />
			<img src="splash/images/temp/35.jpg" />
			<img src="splash/images/temp/36.jpg" />
			<img src="splash/images/temp/37.jpg" />
			<img src="splash/images/temp/38.jpg" />
			<img src="splash/images/temp/39.jpg" />
			<img src="splash/images/temp/40.jpg" />
			<img src="splash/images/temp/41.jpg" />
			<img src="splash/images/temp/42.jpg" />
			<img src="splash/images/temp/43.jpg" />
			<img src="splash/images/temp/44.jpg" />			
			<img src="splash/images/temp/1.jpg" />
			<img src="splash/images/temp/2.jpg" />
			<img src="splash/images/temp/3.jpg" />
			<img src="splash/images/temp/4.jpg" />
			<img src="splash/images/temp/5.jpg" />
			<img src="splash/images/temp/6.jpg" />
			<img src="splash/images/temp/7.jpg" />
			<img src="splash/images/temp/8.jpg" />
			<img src="splash/images/temp/9.jpg" />
			<img src="splash/images/temp/10.jpg" />
			<img src="splash/images/temp/11.jpg" />
			<img src="splash/images/temp/12.jpg" />
			<img src="splash/images/temp/13.jpg" />
			<img src="splash/images/temp/14.jpg" />
			<img src="splash/images/temp/15.jpg" />
			<img src="splash/images/temp/16.jpg" />
			<img src="splash/images/temp/17.jpg" />
			<img src="splash/images/temp/18.jpg" />
			<img src="splash/images/temp/19.jpg" />
			<img src="splash/images/temp/20.jpg" />
			<img src="splash/images/temp/21.jpg" />
			<img src="splash/images/temp/22.jpg" />
			<img src="splash/images/temp/23.jpg" />
			<img src="splash/images/temp/24.jpg" />
			<img src="splash/images/temp/25.jpg" />
			<img src="splash/images/temp/26.jpg" />
			<img src="splash/images/temp/27.jpg" />
			<img src="splash/images/temp/28.jpg" />
			<img src="splash/images/temp/29.jpg" />
			<img src="splash/images/temp/30.jpg" />
			<img src="splash/images/temp/31.jpg" />
			<img src="splash/images/temp/32.jpg" />
			<img src="splash/images/temp/33.jpg" />
			<img src="splash/images/temp/34.jpg" />
			<img src="splash/images/temp/35.jpg" />
			<img src="splash/images/temp/36.jpg" />
			<img src="splash/images/temp/37.jpg" />
			<img src="splash/images/temp/38.jpg" />
			<img src="splash/images/temp/39.jpg" />
			<img src="splash/images/temp/40.jpg" />
			<img src="splash/images/temp/41.jpg" />
			<img src="splash/images/temp/42.jpg" />
			<img src="splash/images/temp/43.jpg" />
			<img src="splash/images/temp/44.jpg" />
		</div>
		<div class="wrapper">
			<div class="block">
				<a href="#" class="brand"></a>
                                {% block(content) %}{% endblock %}
				<ul class="links">
					<li><a href="#">About us</a></li>
					<li><a href="#">Our blog</a></li>
				</ul>
			</div>
		</div>
	</body>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-43674455-1', 'mimimi.co');
          ga('send', 'pageview');

          </script>
        {% block(scripts) %} {% endblock %}
</html>