{% extends(splash/base) %}
{% block(scripts) %}
<script type="text/javascript">
    $("#formsubmit").submit(function(e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr("action"),
            data: $(this).serialize(),
            type: "POST"
        }).done(function(data) {
            if (data === "login_ok") {
                window.location.href = "{% url(main::index) %}";
            } else if (data) {
                /*if (data.indexOf("Mail") || data.indexOf("ccount")) {
                    
                }*/
                alert(data);
            }
        });
        return false;
    });
</script>
{% endblock %}
{% block(content) %}
    <form id="formsubmit" action="{% url(user::login) %}" method="post">
        <input type="text" name="email" placeholder="Email address" class="email" />
        <input type="password" name="password" placeholder="Your password" class="password" />
        <input type="hidden" name="async" value="1">
        <input type="submit" value="Let me in!">
    </form>
    <span class="link">You need an account? <a href="{% url(main::index) %}">Sign up!</a></span>
{% endblock %}